{% extends "layout.html.twig" %}

{% block content %}


      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Tecnólogo Informático</h1>
            <p class="lead" style="margin-bottom: 0;">Docete: Andrés Pastorini</p>
            <p class="lead">Alumno: Emiliano Martinez</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="list-group table-of-contents" style="margin-top: 50px;">
              <a class="list-group-item" href="#Introduccion">Introduccion</a>
              <a class="list-group-item" href="#Tecnologias">Tecnologias</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <!-- Headings -->
        <div class="page-header">
            <div class="row">
	          <div class="col-lg-8 col-md-7 col-sm-6">
    	          <h1 id="Introduccion">Introduccion</h1>
    	      </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="bs-component">
              <p class="lead">Cito de la letra</p>
              <p class="">La segunda etapa del laboratorio consiste en realizar un prototipo de una aplicaciòn RIA con alguno de los frameworks estudiados, poniendo énfasis en aspectos funcionales y de interfaz de usuario. El contenido de la aplicaciòn asì como su funcionalidad mìnima será acordado entre cada grupo y el docente. Todas las tareas deberán ser versionadas en el repositorio github, y se deberán poder “ejecutar” a travès del mismo sitio. El código fuente del prototipo, junto con un documento mìnimo de diseño y manual de usuario deberàn ser entregados el día 20 de Junio al correo antes mencionado..</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="bs-component">
              <p class="lead">Luego de hablar con el docente</p>
              <p>Luego de hablar con el docente surgieron varias cosas, primero por lo sencillo de que es hacer un depoloy ibamos a usar PHP, y esto nos traia un conjunto nuevo de tecnologías a usar, mas adelante mencionamos las que usamos definitivamente.</p>
              <p class="lead">Desafios</p>
              <p>También tuvimos que investigar sobre como conectar con las redes sociales y como usar el framework correctamente.</p>
              <p>A continuación va un texto de ejemplo para ver como es responsive el sitio</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="bs-component">
              <p class="lead">Lorem Ipsum</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim urna ut arcu tempor, in porttitor ipsum porttitor. Nullam vel quam condimentum, sodales diam id, fringilla neque. Phasellus et luctus urna. Mauris scelerisque neque eu sapien vulputate, a eleifend elit vulputate. Etiam et nisl justo. Praesent ultrices ex eget sem porttitor, sagittis vehicula metus commodo. Suspendisse purus risus, maximus quis neque eu, ornare facilisis nulla. Morbi scelerisque, diam non rutrum volutpat, nulla eros auctor mauris, sit amet bibendum felis arcu non leo. Aenean eros turpis, consequat a suscipit quis, pellentesque vitae magna. Sed viverra porttitor maximus. Ut rhoncus in ligula id facilisis.</p>
            </div>
          </div>
        </div>      	
      </div>

      <!-- Tables
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="Tecnologias">Tecnologias usadas</h1>
            </div>

            <div class="bs-component">
              <table class="table table-striped table-hover  ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>GIT para windows</td>
                    <td>GIT es un sistema de control de versiones</td>
                    <td><a href="https://git-scm.com/" target="_blank">Ir a la pagina pricipal</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Composer</td>
                    <td>Herramienta para descargar modulos y bundles PHP</td>
                    <td><a href="https://getcomposer.org/" target="_blank">Ir a la pagina pricipal</a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>XAMPP para windows</td>
                    <td>XAMPP es una distribución de Apache que contiene PHP, Apache, Mysql, etc</td>
                    <td><a href="https://www.apachefriends.org/es/index.html" target="_blank">Ir a la pagina pricipal</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Silex</td>
                    <td>Microframework basado en symfony</td>
                    <td><a href="https://silex.sensiolabs.org/" target="_blank">Ir a la pagina pricipal</a></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Twig</td>
                    <td>Motor de plantillas para PHP</td>
                    <td><a href="https://twig.sensiolabs.org/" target="_blank">Ir a la pagina pricipal</a></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Bootstrap</td>
                    <td>HTML, CSS y js framework para desarrollar sitios responsive</td>
                    <td><a href="http://getbootstrap.com/" target="_blank">Obtener Bootstrap</a></td>
                  </tr>
                  <tr class="">
                    <td>7</td>
                    <td>Bootswatch</td>
                    <td>Temas gratis para Bootstrap</td>
                    <td><a href="https://bootswatch.com/" target="_blank">Obtener Bootswatch</a></td>
                  </tr>
                  <tr class="">
                    <td>8</td>
                    <td>Jquery</td>
                    <td>Libreria javascript que facilita el manejo del DOM y facilita la escritura de javascript</td>
                    <td><a href="https://jquery.com/" target="_blank">Ir al sitio de JQuery</a></td>
                  </tr>
                  <tr class="">
                    <td>9</td>
                    <td>Font Awesome</td>
                    <td>Libreria css con fuentes para iconos</td>
                    <td><a href="http://fontawesome.io" target="_blank">Ir al sitio</a></td>
                  </tr>
                  <tr class="">
                    <td>10</td>
                    <td>FancyBox</td>
                    <td>Libreria jquery para hacer popups modal</td>
                    <td><a href="http://fancyapps.com" target="_blank">Ir al sitio</a></td>
                  </tr>                  
                </tbody>
              </table> 
            </div><!-- /example -->
          </div>
        </div>
      </div>

      <div class="row">
      	<br /><br /><br /><br />
      </div>
{% endblock %}
