<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/darkly/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        {% include 'partials/nav.html.twig' %}
        <div class="container">
            {% block content %}{% endblock %}
            {% include 'partials/footer.html.twig' %}
        </div>        
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
        <div style="display: none;" id="no-login">
            <h2 style="color: black;">Acceso requerido</h2>
            <p style="color: brown;">Para acceder a la tarea es necesario loguearse.</p>
        </div>        
    </body>
</html>
